<div class="container md-12">
  <h2 class="text-uppercase text-center">PROFESSIONAL SERVICES</h2>
  <div class="row">
  <% if @service_types.any? %>
    <% @service_types.each do |service_type| %>
    <div class="col-md-12 mb-4">
      <div class="card h-100 container-fluid" id="service-card">
        <h4 class="text-center mt-3 font-weight-bold text-uppercase"><%= service_type.name %></h4> 
        <table class="table-responsive table-hover">
          <thead>
            <tr>
              <th>Service</th>
              <th>Price</th>
              <th>Length</th>
            </tr>
          </thead>
          <hr>
          <tbody>
         
            <% service_type.services.order('name ASC').each do |service| %>
              <tr>
                <td><%= service.name %></td>
                <td>$<%= service.price %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><%= service.length %> min</td>
              </tr>
            <% end %>

          </tbody>
        </table>
      </div>
    </div>
    <% end %>
  <% end %>  
  </div>
</div>