<!-- <h2 class="section-heading text-uppercase">Gallery</h2>
<h3 class="section-subheading text-muted">Become one of our models.</h3> -->
<div id="instagram-feed" class="instagram_feed scrolling-wrapper"></div>

<!-- instagram jquery script load -->
<script>
$(document).ready(function(){
    $.instagramFeed();
});
</script>
