<div class="container">
  <div class="row">
    <div class="col-md-3">
        <%= image_tag("logo-colorinsider.jpg", class: "logos img-fluid d-block mx-auto") %>
    </div>
    <div class="col-md-3">
       <%= image_tag("logo-matrix.jpg", class: "logos img-fluid d-block mx-auto") %>
    </div>
    <div class="col-md-3">
        <%= image_tag("color-wow.svg", class: "logos img-fluid d-block mx-auto") %>
    </div>

    <div class="col-md-3">
      <%= image_tag("brazilian-logo.png", class: "logos img-fluid d-block mx-auto") %>
    </div>
  </div>
</div>