<% if @reservation.errors.any? %>
	<div class="sticky" style="background-color: white;">
		<% @reservation.errors.messages.each do |x| %>
			<center style="color:red;"><%= x.last.last.to_s.gsub('must exist', '') %></center> 
		<% end %>
		<br>
	</div>
	
<% end %>