<div class="modal fade" id="sign-up" tabindex="0">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div>
        <button class="close mr-auto pt-1 pr-4"  data-dismiss="modal">&times;</button>     
      </div> 
      <div class="modal-body" id="signupPartial">

       <%= render partial: '/users/form' %>

      </div>
    </div>
  </div>
</div>